*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100vh;
}
body{
    display: grid;
    place-items: center;
    user-select: none;
    background-color: #3A3A3A;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}
table, tr, td, th{
    border: solid 1px #4e4e4e;
    border-collapse: collapse;
    text-transform: capitalize;
    background-color: #1E1E1E;
}
th{
    color: #66CDAA;
}
td{
    color: #bbe6d7;
}
th, td{
    text-align: center;
}
th, td, input{
    background-color: transparent;
}
tbody tr td:last-child{
    color: #FFD700;
}
input{
    width: 10ch;
    text-align: center;
    border: none;
    outline: none;
    color: #FFD700;
}
input::-webkit-inner-spin-button{
    appearance: none;
}
.title{
    font-size: x-small;
}
th{
    padding: 5px;
}
#lines, #quedas{
    border: solid 1px;
}
#tdO{
    padding: 10px ;
    cursor: pointer;
    transition: 200ms;
    color: #3498DB;
}
tfoot{
    border-bottom: 0;
}
#tdO:hover{
    font-size: large;
}
#tdO:active{
    color: blue;
}
